{% extends 'base.html.twig' %}

{% block title %}s'enregistrer{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms,{
            label:"les conditions d'utilisations"
        }) }}

        <button type="submit" class="btn btn-outline-primary">Créer mon compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
