<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('prod_index')}}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_cat')}}">Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_user')}}">Les utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('cart_index')}}">Panier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul> 
            <form class="d-flex m-2">
                {% if not app.user %}
                    <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                {% else %}
                    <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
                {% endif %}   
            </form>
        </div>
    </div>
</nav>